<div fxFlex class="md-padding default-theme">
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around start">
    <md-card *ngFor="let problem of problems">
      <md-card-header>
        <md-card-title><h3>{{problem.name}}</h3></md-card-title>
        <md-card-subtitle>n submissions remaining</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <md-progress-bar color="primary" mode="determinate" [value]="problem.progress"></md-progress-bar>
      </md-card-content>
      <md-card-actions>
        <button md-button color="primary">EDIT</button>
        <span fxFlex></span>
        <button md-button>STATS</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
