<div fxLayout="column" class="step-child mat-elevation-z2" [formGroup]="comp">
  <mat-toolbar>
    <span>Default Component</span>
    <button mat-icon-button fxFlexOffset="10px" type="button" matTooltip="Edit Component"><mat-icon>edit</mat-icon></button>
    <span fxFlex></span>
    <button mat-icon-button fxFlexOffset="10px" type="button" matTooltip="Advanced"><mat-icon>settings</mat-icon></button>
    <button mat-icon-button fxFlexOffset="10px" type="button" matTooltip="Delete Component"
            (click)="removeComp()"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button fxFlexOffset="10px" type="button" (click)="show = !show">
      <span class="md-toggle-icon"
            fxLayoutAlign="center center"
            [ngClass]="{'toggled' : show}">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </span>
    </button>
  </mat-toolbar>
  <div class="md-padding comp-content" fxLayout="row" [@hideAnimation]="show ? 'show' : 'hide'">
    <div class="options-section left-section" fxLayout="column" fxLayoutGap="5px">
      <mat-form-field style="width: 134px">
        <input matInput placeholder="Score" formControlName="max_score" type="number" min="0">
      </mat-form-field>
      <mat-checkbox align="start" formControlName="is_extra_credit">Extra Credit</mat-checkbox>
      <mat-form-field style="width: 134px">
        <input matInput [min]="minDate" formControlName="due_date"
               [matDatepicker]="dueDate" placeholder="Due Date">
        <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #dueDate></mat-datepicker>
      <span><button mat-button>UPLOAD RUBRIC</button></span>
    </div>
    <div class="options-section middle-section" fxFlex fxLayout="column">
      <div>
        <h2 class="mat-h2">Files</h2>
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
          <mat-form-field>
            <input matInput placeholder="File Name" formControlName="new_file">
          </mat-form-field>
          <button mat-button (click)="addFile(comp)" type="button">Add File</button>
        </div>
      </div>
      <div>
        <mat-chip-list matSuffix formArrayName="files">
          <mat-chip *ngFor="let file of comp.get('files')['controls']; index as i"
                   fxLayoutAlign="center center"
                   fxLayoutGap="5px"
                   removable="true"
                   (remove)="removeFile(comp, i)"
                   selected="true">
            <span>{{file.value}}</span>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div fxFlex fxLayout="column" class="right-section">
      <h2 class="mat-h2">Graders</h2>
      <div div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Grader" formControlName="new_grader">
        </mat-form-field>
        <button mat-button (click)="addGrader(comp)" type="button">Add Grader</button>
      </div>
      <div>
        <mat-chip-list formArrayName="graders">
          <mat-chip *ngFor="let grader of comp.get('graders')['controls']; index as i"
                   fxLayoutAlign="center center"
                   fxLayoutGap="5px"
                   removable="true"
                   (remove)="removeGrader(comp, i)"
                   selected="true">
            {{grader.value}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
