<div class="md-padding" *ngIf="course" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center">
    <a md-icon-button routerLink="../" title="Back button"><md-icon>arrow_back</md-icon></a>
    <h2 class="mat-heading">{{course.name}}</h2>
  </div>

  <h4 class="mat-heading">Course Actions</h4>
  <md-card fxLayout="row" fxLayoutGap="20px">
    <button md-button>GRADES</button>
    <button md-button>CALENDAR</button>
  </md-card>

  <span fxFlex="10px"></span>

  <h4 class="mat-heading">Assignments</h4>
  <div fxLayout="column" fxLayoutGap="35px">
    <div *ngFor="let assign of course.assigns; even as even">
      <card-button [color]="assign" [left]="true">
        <div fxFlex fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center" [routerLink]="assign">
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Name
            </div>
            <div class="mat-body-2">
              {{assign}}
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Submitted
            </div>
            <div *ngIf="even; else turnedIn">
              <md-icon style="color: orange">error</md-icon>
            </div>
            <ng-template #turnedIn>
              <md-icon style="color: green">check_circle</md-icon>
            </ng-template>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Start Date
            </div>
            <div class="mat-body-2">
              Thurs Jan 13, 2017 12:12pm
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              End Date
            </div>
            <div class="mat-body-2">
              Fri Jan 14, 2017 12:15pm
            </div>
          </div>
        </div>
      </card-button>
    </div>
  </div>
</div>
