<div class="md-padding" *ngIf="course" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center">
    <a mat-icon-button routerLink="../" title="Back button"><mat-icon>arrow_back</mat-icon></a>
    <h2 class="mat-heading">{{course.name}}</h2>
  </div>

  <h4 class="mat-heading">Course Actions</h4>
  <mat-card fxLayout="row" fxLayoutGap="20px">
    <button mat-button>GRADES</button>
    <button mat-button>CALENDAR</button>
  </mat-card>

  <span fxFlex="10px"></span>

  <h4 class="mat-heading">Assignments</h4>
  <div fxLayout="column" fxLayoutGap="35px">
    <mat-expansion-panel *ngFor="let assign of course.assigns; even as even">
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="space-between center">
          {{assign}}
        </mat-panel-title>
        <mat-panel-description fxLayoutAlign="space-between center">
          Due Date: Fri Jan 14, 2017 12:15pm
          <mat-icon style="color: orange">error</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutGap="10px">
        <div>
          <span>Time Remaining: 1hr</span>
          <span fxFlex></span>
          <span>Submissions Remaining: 3</span>
        </div>
        <div>
          <span>Late Penalty: 20%/day</span>
          <span fxFlex></span>
          <span>Tokens Remaining: 1</span>
        </div>
        <div>Required files: Table.h, Table.cpp, README, DESIGN, Makefile</div>
      </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="openSubmit()">SUBMIT</button>
      </mat-action-row>
      <!--<card-button [color]="assign" [left]="true">-->
        <!--<div fxFlex fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center" [routerLink]="assign">-->
          <!--<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">-->
            <!--<div class="mat-caption">-->
              <!--Name-->
            <!--</div>-->
            <!--<div class="mat-body-2">-->
              <!--{{assign}}-->
            <!--</div>-->
          <!--</div>-->
          <!--<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">-->
            <!--<div class="mat-caption">-->
              <!--Submitted-->
            <!--</div>-->
          <!--</div>-->
          <!--<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">-->
            <!--<div class="mat-caption">-->
              <!--Start Date-->
            <!--</div>-->
            <!--<div class="mat-body-2">-->
              <!--Thurs Jan 13, 2017 12:12pm-->
            <!--</div>-->
          <!--</div>-->
          <!--<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">-->
            <!--<div class="mat-caption">-->
              <!--End Date-->
            <!--</div>-->
            <!--<div class="mat-body-2">-->
              <!--Fri Jan 14, 2017 12:15pm-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</card-button>-->
    </mat-expansion-panel>
  </div>
</div>
