<div fxFill>
  <mat-card fxFlex fxLayout="column">
    <mat-card-title>Upload Files</mat-card-title>
    <mat-card-content>
      <table fxFlexFill>
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue" style="border-bottom: 1px solid rgba(0,0,0,0.12)">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 }} MB</td>
            <td nowrap>
              <button mat-icon-button (click)="item.remove()">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <span fxFlex style="border-bottom: 1px solid rgba(0,0,0,0.12)"></span>
    <mat-card-actions>
      <button mat-button (click)="addFile()">+ ADD FILE</button>
      <span fxFlex></span>
      <button mat-button color="primary">UPLOAD</button>
      <button mat-button matDialogClose color="warn">CANCEL</button>
    </mat-card-actions>
  </mat-card>
  <input type="file" ng2FileSelect [uploader]="uploader" multiple style="display: none" #fileInput />
</div>
