@import '~@angular/material/theming';

@mixin _nav-drawer-color($palette) {
  background: mat-color($palette);
  color: mat-color($palette, default-contrast);
}

@mixin nav-drawer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-nav-drawer {
    color: mat-color($foreground, text);

    &.mat-primary {
      @include _nav-drawer-color($primary);
    }

    &.mat-accent {
      @include _nav-drawer-color($accent);
    }

    &.mat-warn {
      @include _nav-drawer-color($warn);
    }
  }
  .mat-button {
    &.active {
      background: rgba(mat-color($foreground, text), 0.4);
    }
    &:hover,
    &:focus {
      background: rgba(mat-color($foreground, text), 0.4);
    }
  }

  .mat-nav-drawer-header {
    border-bottom: 1px solid mat-color($foreground, divider);
  }

  .mat-nav-drawer-toggle {
     border-bottom: 1px solid mat-color($foreground, divider);
  }
}
