@import '~@angular/material/theming';

.md-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}

.md-subhead {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 24px;
}

.mat-nav-drawer-header {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  opacity: 0.54;
}

.mat-nav-drawer,
.mat-nav-drawer ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.mat-nav-drawer li {
  margin: 0;
}

.mat-nav-drawer-toggle-list > li:nth-child(1) {
  border-top: none;
}

.md-whiteframe-glow-z1 {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14),
  0 0 2px 2px rgba(0, 0, 0, 0.098),
  0 0 5px 1px rgba(0, 0, 0, 0.084);
}

.mat-nav-drawer {
  button.mat-button {
    border-radius: 0;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
  }
}

html[dir=rtl] .mat-nav-drawer .mat-button,
body[dir=rtl] .mat-nav-drawer .mat-button {
  unicode-bidi: embed;
  text-align: right;
}

.mat-nav-drawer button.mat-button::-moz-focus-inner {
  padding: 0;
}

html[dir=rtl] .mat-nav-drawer-header,
body[dir=rtl] .mat-nav-drawer-header {
  unicode-bidi: embed;
  text-align: right;
}

.mat-nav-drawer-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  &.nav-drawer-toggle-open {
    height: auto !important;
  }
}

.mat-nav-drawer .mat-nav-drawer-toggle-list button.mat-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  white-space: nowrap;
}

.mat-nav-drawer-toggle .md-toggle-icon {
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  place-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal
}

.mat-nav-drawer-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
}

.wrapper-toggle-label {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.wrapper-toggle-spacing {
  box-sizing: border-box;
  flex: 1;
}
