<div fxLayout="column" class="md-padding">
  <h1 class="mat-heading" fxLayoutAlign="center center">Welcome to Virtual Grade!</h1>
  <h3 class="mat-heading" fxLayoutAlign="start center">What is Virtual Grade?</h3>
  <div class="mat-body" fxLayoutAlign="start center">
    Virtual Grade is a one-stop, integrated course administration system. It's meant for use by three distinct groups of
    people: students, graders, and administrators.
  </div>
  <h3 class="mat-heading" fxLayoutAlign="start center">For Students</h3>
  <div class="mat-body" fxLayoutAlign="start center">
    Virtual Grade for students means the ability to stay up-to-date on progress in any course on any device. It allows
    for a simplistic approach to submitting and reviewing assignments, requesting regrades, and viewing the upcoming
    course schedule.
  </div>
  <h3 class="mat-heading" fxLayoutAlign="start center">For Graders</h3>
  <div class="mat-body" fxLayoutAlign="start center">
    Virtual Grade for graders means the ability to comprehensively review any submission with ease and flexibility. It
    also means the ability to grade in an unbiased, anonymous manner to protect the integrity of the grading process.
  </div>
  <h3 class="mat-heading" fxLayoutAlign="start center">For Administrators</h3>
  <div class="mat-body" fxLayoutAlign="start center">
    Virtual Grade for administrators means the ability to easily create, modify, and track assignments across students
    and graders. It means that the entire process of regulating a course, no matter the size, can be done efficiently
    and with the right tools in mind. It means having the flexibility to configure assignments of various shapes, forms,
    and requirements.
  </div>
  <h3 class="mat-heading" fxLayoutAlign="start center">Questions?</h3>
  <div class="mat-body" fxLayoutAlign="start center">
    <span>
      Virtual Grade was built to be an open-source, constantly evolving system. If you have any questions about its
      design, features, or setup, please contact the support team. The source code is currently available on
      <a href="https://github.com/CaerusKaru/ngvirtualgrade">GitHub</a>, where all technical issues should be submitted.
      All other requests should be submitted to
      <a href="mailto:help@virtualgrade.cs.tufts.edu">help@virtualgrade.cs.tufts.edu.</a>
    </span>
  </div>
</div>
