<div fxLayout="column" class="md-padding">
  <div *ngFor="let course of courses | async">
    <h1>{{course.name}}</h1>
    <div fxLayoutWrap fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <h3 *ngIf="course.assigns.length === 0">No assignments available</h3>
      <md-card fxLayout="column" fxLayoutAlign="center center">
        <button md-raised-button color="primary" routerLink="{{course.name}}/create">CREATE</button>
      </md-card>
      <md-card *ngFor="let assign of course.assigns">
        <md-card-header>
          <md-card-title><h3>{{assign}}</h3></md-card-title>
          <md-card-subtitle>n submissions remaining</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-progress-bar color="primary" mode="determinate" [value]="37"></md-progress-bar>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="primary" routerLink="{{course.name}}/{{assign}}">VIEW</button>
          <span fxFlex></span>
          <button md-button>STATS</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
