<div fxLayout="column" class="md-padding" fxLayoutGap="25px">
  <h3 class="mat-heading">Admin Portal</h3>
  <div *ngFor="let course of courses | async">
    <card-button [color]="course.name" [left]="true">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px" [routerLink]="course.name">
        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
          <div class="mat-caption">
            Name
          </div>
          <div class="mat-body-2">
            {{course.name}}
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
          <div class="mat-caption">
            Assignments
          </div>
          <div class="mat-body-2">
            {{course.assigns.length}}
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
          <div class="mat-caption">
            Enrollment
          </div>
          <div class="mat-body-2">
            97
          </div>
        </div>
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-button>GRADEBOOK</button>
        <button mat-button [matMenuTriggerFor]="createMenu">ADD</button>
        <mat-menu #createMenu="matMenu">
          <button mat-menu-item [routerLink]="[course.name+'/create',{type:'instructor'}]">Instructor</button>
          <button mat-menu-item [routerLink]="[course.name+'/create',{type:'student'}]">Student</button>
        </mat-menu>
      </div>
    </card-button>
  </div>
</div>
