<div class="md-padding">
  <mat-horizontal-stepper class="mat-elevation-z8">
    <mat-step label="Basic Info">
      <div>
        Content
      </div>
      <div>
        <button mat-button mdStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Other Info">
      <div>
        Content
      </div>
      <div>
        <button mat-button mdStepperPrevious>Back</button>
        <button mat-button mdStepperNext>Next</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
