<div class="md-padding">
  <md-horizontal-stepper class="mat-elevation-z8">
    <md-step label="Basic Info">
      <div>
        Content
      </div>
      <div>
        <button md-button mdStepperNext>Next</button>
      </div>
    </md-step>
    <md-step label="Other Info">
      <div>
        Content
      </div>
      <div>
        <button md-button mdStepperPrevious>Back</button>
        <button md-button mdStepperNext>Next</button>
      </div>
    </md-step>
  </md-horizontal-stepper>
</div>
