<md-dialog-content fxFlex
                   fxFill
                   fxLayout="column">
  <div class="pdf-dialog-dark mat-app-background">
    <md-toolbar fxFlex
                fxLayout="row"
                fxLayoutAlign="center center"
                color="primary"
                class="multiple-page-header art-toolbar md-whiteframe-6dp">
      <div class="small-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="15px">
          <button md-icon-button
                  *ngFor="let mode of modes"
                  [ngStyle]="{'color': mode.name === currentMode ? 'white' : '#303030'}"
                  [mdTooltip]="mode.tooltip"
                  (tap)="setMode(mode.name)"
                  mdTooltipPosition="below">
            <md-icon>{{mode.iconName}}</md-icon>
          </button>
        </div>

        <md-divider direction="vertical" fxFlexOffset="10px"></md-divider>

        <span fxFlexOffset="25px"></span>

        <md-input-container class="pdf-size art-options" floatPlaceholder="never" mdTooltip="Size" mdTooltipPosition="below">
          <input mdInput [(ngModel)]="currentSize" min="1" type="number" placeholder="Size">
        </md-input-container>

        <span fxFlex="25px"></span>

        <div class="art-options" mdTooltip="Color" mdTooltipPosition="below">
          <input type="color" [(ngModel)]="currentColor">
        </div>

        <span fxFlex></span>

        <div fxLayout="row" fxLayoutAlign="center center">
          <button aria-label="Undo previous action"
                  md-icon-button
                  mdTooltip="Undo"
                  mdTooltipPosition="below"
                  (tap)="undo()"
                  [disabled]="PDF.getCurrentPage().addedStack.length===0">
            <md-icon>undo</md-icon>
          </button>
          <button md-icon-button
                  mdTooltip="Redo"
                  mdTooltipPosition="below"
                  aria-label="Redo previous action"
                  (tap)="redo()"
                  [disabled]="PDF.getCurrentPage().undoStack.length===0">
            <md-icon>redo</md-icon>
          </button>
          <button md-icon-button
                  mdTooltip="Remove all"
                  mdTooltipPosition="below"
                  aria-label="Delete all changes"
                  (tap)="clear()"
                  [disabled]="PDF.getCurrentPage().addedStack.length===0">
            <md-icon>delete</md-icon>
          </button>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
          <button md-icon-button
                  mdTooltip="Prev page"
                  mdTooltipPosition="below"
                  aria-label="Back"
                  (tap)="backPage()"
                  [disabled]="PDF.currentPage()===0">
            <md-icon>navigate_before</md-icon>
          </button>
          <h5 fxLayout="row" fxLayoutAlign="center center">
            <span>Page {{PDF.currentPage() + 1}} / {{PDF.numPages()}}</span>
          </h5>
          <button md-icon-button
                  mdTooltip="Next page"
                  mdTooltipPosition="below"
                  aria-label="Next"
                  (tap)="attachPage()"
                  [disabled]="PDF.currentPage()+1===PDF.numPages()">
            <md-icon>navigate_next</md-icon>
          </button>
          <button md-icon-button
                  mdTooltip="Add page"
                  mdTooltipPosition="below"
                  aria-label="Add page"
                  (tap)="addPage()">
            <md-icon>add_box</md-icon>
          </button>
          <button md-icon-button
                  mdTooltip="Remove page"
                  mdTooltipPosition="below"
                  aria-label="Remove page"
                  [disabled]="!PDF.pages[PDF.currentPage()].removeable"
                  (tap)="removePage()">
            <md-icon>indeterminate_check_box</md-icon>
          </button>

        </div>

        <span fxFlex></span>

        <button md-icon-button
                mdTooltip="Toggle sidenav"
                mdTooltipPosition="below"
                aria-label="Toggle sidenav"
                (tap)="sideNavOpen = !sideNavOpen">
          <md-icon>more_horiz</md-icon>
        </button>

        <button md-icon-button
                mdTooltip="Close"
                mdTooltipPosition="below"
                aria-label="Close grading window"
                md-dialog-close>
          <md-icon>close</md-icon>
        </button>
      </div>
    </md-toolbar>
  </div>
  <md-sidenav-container fxFlex class="full-sidenav">
    <div fxFlex fxLayout="row" fxFill class="pdf-dialog-light mat-app-background">
      <div class="pdf-dark"
           fxFlex fxLayout="column"
           fxLayoutAlign="center center">
        <svg-wrapper fxFlex [currentSize]="currentSize" [currentColor]="currentColor" [currentMode]="currentMode">
        </svg-wrapper>
      </div>
    </div>
    <md-sidenav mode="side" [opened]="sideNavOpen" align="end" fxLayout="column">
      <div fxFlex fxLayout="column" fxFill class="md-padding">
        <div id="scoring" fxFlex>
          <span fxLayout="row">
            <h3 fxLayout="row" fxLayoutAlign="center center" class="md-headline" style="margin: 0">
              {{assign}}: {{problem}}
            </h3>
            <button md-icon-button aria-label="Open demo menu" [mdMenuTriggerFor]="problemMenu">
              <md-icon>arrow_drop_down</md-icon>
            </button>
            <md-menu #problemMenu="mdMenu" md-offset="0 -7">
              <button md-menu-item *ngFor="let num of pagesArray(); let i = index" (tap)="selectProblem(i)">
                <span>{{i + 1}}</span>
              </button>
            </md-menu>
            <span fxFlex></span>
          </span>
          <span fxLayout="row">
            <h4 fxLayout="row" fxLayoutAlign="center center" class="md-subhead" style="margin: 0">Student: {{studentName}}</h4>
            <button md-icon-button aria-label="Open demo menu" [mdMenuTriggerFor]="studentMenu">
              <md-icon>arrow_drop_down</md-icon>
            </button>
            <md-menu #studentMenu="mdMenu" md-offset="0 -7">
              <!--<button md-menu-item>Help!</button>-->
              <!--<md-menu-content width="1" class="md-padding">-->
                <!--<md-menu-item fxLayout="row">-->
                  <md-input-container>
                    <label>Student #</label>
                    <input mdInput>
                  </md-input-container>
                  <!--&lt;!&ndash;<md-button>Go</md-button>&ndash;&gt;-->
                <!--</md-menu-item>-->
              <!--</md-menu-content>-->
            </md-menu>
            <span fxFlex></span>
          </span>
          <md-divider></md-divider>
          <div fxLayout="row">
            <span class="md-title" fxLayout="row" fxLayoutAlign="center center"> {{score()}} / {{max}} pts</span>
            <span fxFlex></span>
            <button md-icon-button (tap)="addScore()" mdTooltip="Add scoring item" mdTooltipPosition="below">
              <md-icon>playlist_add</md-icon>
            </button>
          </div>
        </div>
        <md-divider></md-divider>
        <md-list dense class="rubric-items">
          <h3 md-subheader>Rubric Items</h3>
          <template ngFor let-item [ngForOf]="scores" let-last="last">
            <md-list-item>
              <md-checkbox md-list-icon [(ngModel)]="item.selected" color="primary"></md-checkbox>
              <h5 md-line style="white-space: pre-wrap;">{{item.comment}}</h5>
              <p md-line>{{item.score}} pts</p>
              <button md-icon-button (tap)="edit(item)" fxLayoutAlign="center center">
                <md-icon>mode_edit</md-icon>
              </button>
            </md-list-item>
            <md-divider *ngIf="!last"></md-divider>
          </template>
        </md-list>
        <span fxFlex style="min-height: 10px;"></span>
        <md-divider></md-divider>
        <h4 md-subheader class="md-no-sticky">Individual Adjustments</h4>
        <div fxLayout="row" fxLayoutAlign="center center" style="padding-left: 20px;">
          <div layout="row"  style="width: 65px;">
            <md-input-container>
              <label>Score</label>
              <input mdInput type="number" [(ngModel)]="adjust">
            </md-input-container>
          </div>
          <span fxFlex></span>
          <button md-icon-button class="md-icon-button" mdTooltip="Add comments" mdTooltipPosition="below">
            <md-icon>comment</md-icon>
          </button>
        </div>
        <md-divider></md-divider>
        <div fxLayout="row" style="padding-top:20px;">
          <div fxFlex fxLayout="column">
            <md-progress-bar mode="determinate" [value]="(doneStudents / totalStudents)*100"></md-progress-bar>
            <h4 class="md-caption">{{doneStudents}} / {{totalStudents}} Graded</h4>
          </div>
        </div>
        <md-divider></md-divider>
        <span fxFlex="15px"></span>
        <div fxLayout="row">
          <div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
            <button md-button>
              <div fxLayout="column" fxLayoutAlign="center center">
                <md-icon>fast_rewind</md-icon>
                <span class="md-body-2">Prev</span>
              </div>
            </button>
            <md-divider direction="vertical" class="vertical-divider"></md-divider>
            <button md-button>
              <div fxLayout="column" fxLayoutAlign="center center">
                <md-icon>save</md-icon>
                <span class="md-body-2">Done</span>
              </div>
            </button>
            <md-divider direction="vertical"></md-divider>
            <button md-button>
              <div fxLayout="column" fxLayoutAlign="center center">
                <md-icon>fast_forward</md-icon>
                <span class="md-body-2">Next</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </md-sidenav>
  </md-sidenav-container>
</md-dialog-content>
