<div [formGroup]="step" class="step-main" fxFlex>
  <div fxLayout="column" class="md-padding step-content" fxLayoutGap="10px">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="32px">
      <div fxLayout="column" fxLayoutAlign="start start" class="upload-options">
        <h4 class="mat-header">Settings</h4>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Step Name">
        </mat-form-field>
        <button mat-raised-button>ADVANCED</button>
      </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <h4 class="mat-header">Submission Times</h4>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <mat-form-field>
            <input matInput formControlName="start_date" [min]="minDate" [max]="step.controls['end_date'].value"
                   [matDatepicker]="startDate" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="time" placeholder="Start Time" [formControl]="startTime"
                   class="input-time">
          </mat-form-field>
          <mat-datepicker #startDate></mat-datepicker>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <mat-form-field>
            <input matInput formControlName="end_date" [min]="minDate"
                   [matDatepicker]="endDate" placeholder="Due Date" >
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="time" placeholder="End Time" [formControl]="endTime"
                   class="input-time">
          </mat-form-field>
          <mat-datepicker #endDate></mat-datepicker>
        </div>
      </div>
    </div>
    <h4 class="mat-header">Required Submission Files</h4>
    <mat-form-field class="demo-chip-list">
      <mat-chip-list #filesList formArrayName="files">
        <mat-chip *ngFor="let file of step.get('files')['controls']; index as i" [selectable]="false"
                  [removable]="true" (remove)="removeFile(i)">
          {{file.value}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Add file"
               [matChipInputFor]="filesList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addFile($event)" />
      </mat-chip-list>
    </mat-form-field>
    <div>
      <mat-checkbox align="start" formControlName="allow_other_files">
        <span class="mat-body-1">Allow additional files</span>
      </mat-checkbox>
    </div>
  </div>
</div>
