.md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.md-toggle-icon.toggled {
  transform: rotate(0deg);
}

.step-main {
  padding-bottom: 16px;
}

.upload-options {
  border-right: 1px solid rgba(0,0,0,0.12);
  padding-right: 32px;
}

.input-time {
  resize: none;
}
