<div fxLayout="column" class="md-padding" fxLayoutGap="25px">
  <div *ngFor="let course of courses | async">
    <md-card fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="40px"
             md-ripple
             class="grading-box"
             routerLink="{{course['name']}}">
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <div class="mat-caption">
          Name
        </div>
        <div class="mat-body-2">
          {{course['name']}}
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <div class="mat-caption">
          Assignments
        </div>
        <div class="mat-body-2">
          {{course['assigns'].length}}
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <div class="mat-caption">
          Enrollment
        </div>
        <div class="mat-body-2">
          97
        </div>
      </div>
      <span fxFlex></span>
      <div>
        <button md-raised-button>GRADEBOOK</button>
      </div>
    </md-card>
  </div>
</div>
