<div fxLayout="column" class="md-padding">
  <h3 class="mat-heading">Grading Central</h3>
  <div fxLayout="row" *ngIf="true" fxLayoutGap="15px">
    <card-button [color]="'COMP15'" [left]="true">
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <span class="mat-body-2">COMP00</span>
        <span class="mat-body-1">hw1, Design Doc</span>
        <span class="mat-caption">Syntax</span>
      </div>
    </card-button>
    <card-button [color]="'COMP15'" [left]="true">
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <span class="mat-body-2">COMP15</span>
        <span class="mat-body-1">hw2, Final Submission</span>
        <span class="mat-caption">Code Review</span>
      </div>
    </card-button>
  </div>
  <h3 class="mat-heading">Courses</h3>
  <div fxLayout="column" fxLayoutGap="25px">
    <div *ngFor="let course of courses | async">
      <card-button [color]="course.name" [left]="true">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px" [routerLink]="course.name">
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Name
            </div>
            <div class="mat-body-2">
              {{course.name}}
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Assignments
            </div>
            <div class="mat-body-2">
              {{course.assigns.length}}
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Enrollment
            </div>
            <div class="mat-body-2">
              97
            </div>
          </div>
        </div>
        <div fxLayoutAlign="center center">
          <button mat-button>GRADEBOOK</button>
        </div>
      </card-button>
    </div>
  </div>
</div>
