.course-menu > menu-link > button.mat-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

html[dir=rtl] .course-menu .mat-button,
body[dir=rtl] .course-menu .mat-button {
  unicode-bidi: embed;
  text-align: right;
}


.course-menu .mat-button:hover,
.course-menu .mat-button:focus {
  background: #9e9e9e !important;
}
.course-menu .mat-button md-icon {
  color: white;
}
