.card-ripple {
  // Credit to Angular Material List component
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  // Disable pointer events for the ripple container because the container will overlay the
  // user content and we don't want to disable mouse events on the user content.
  // Pointer events can be safely disabled because the ripple trigger element is the host element.
  pointer-events: none;
}

.card-button {
  :focus {
    outline: none;
  }
  outline: none;
  cursor: pointer;
}
