<div fxFill fxLayout="column">
  <div class="nav-bar" fxLayout="row">
    <nav md-tab-nav-bar fxFlex>
      <div *ngIf="!isSideBySide">
        <button md-icon-button (click)="sidenav.toggle()" fxFlexOffset="10px" title="Show nav menu">
          <md-icon>menu</md-icon>
        </button>
      </div>
      <span fxLayoutAlign="space-around center" fxFlexOffset="30px">
        <a routerLink=""
           (click)="activeLinkIndex = 0">
          <img src="../assets/logo.png"
               alt="logo for virtual grade"
               height="13"
               width="93.5"
               fxLayoutAlign="center center" />
        </a>
      </span>
      <span fxFlex="30px"></span>
      <div *ngFor="let link of navLinks; let i = index" fxLayoutAlign="center center">
        <a md-tab-link
           *ngIf="isSideBySide && link.show"
           [routerLink]="link.route"
           [active]="activeLinkIndex === i"
           (click)="activeLinkIndex = i">
          <span fxFill fxLayoutAlign="center center">{{link.label}}</span>
        </a>
      </div>
      <span fxFlex></span>
      <md-menu #appMenu="mdMenu" y-position="below" [overlapTrigger]="false">
        <button md-menu-item (click)="logOut()"> Log Out </button>
      </md-menu>

      <button md-button [mdMenuTriggerFor]="appMenu" *ngIf="utln$ | async as utln; else signin">
        {{utln}}
      </button>

      <ng-template #signin>
        <button md-button (click)="logIn()">Sign In</button>
      </ng-template>
    </nav>
  </div>
  <md-sidenav-container fxFlex>
    <md-sidenav #sidenav
                class="dark-theme mat-elevation-z16"
                [mode]="isSideBySide ? 'side' : 'over'"
                [opened]="isSideBySide || isOpen">
      <nav-menu-container fxFlex class="mat-app-background" *ngIf="navs$ | async as navs">
        <div *ngFor="let nav of navs" [ngSwitch]="nav['type']">
          <nav-menu-header *ngSwitchCase="'header'" [label]="nav['label']">
            <div *ngFor="let child of nav['children']" [ngSwitch]="child['type']">
              <nav-menu-toggle *ngSwitchCase="'toggle'" [label]="child['label']">
                <nav-menu-link *ngFor="let link of child['children']" [link]="link['link']">{{link['label']}}</nav-menu-link>
              </nav-menu-toggle>
              <nav-menu-link *ngSwitchCase="'link'" [link]="child['link']">{{child['label']}}</nav-menu-link>
            </div>
          </nav-menu-header>
          <nav-menu-toggle *ngSwitchCase="'toggle'" [label]="nav['label']">
            <nav-menu-link *ngFor="let link of nav['children']" [link]="link['link']">{{link['label']}}</nav-menu-link>
          </nav-menu-toggle>
          <ng-container *ngSwitchCase="'link'">
            <nav-menu-link *ngFor="let link of nav['children']"
                           [link]="link['link']">{{link['label']}}</nav-menu-link>
          </ng-container>
        </div>
        <div *ngFor="let link of navLinks">
          <nav-menu-link [link]="link.route" *ngIf="!isSideBySide && link.show">{{link.label}}</nav-menu-link>
        </div>
      </nav-menu-container>
    </md-sidenav>
    <div [@routeAnimation]="prepRouteState(routerOutlet)" style="height: 100%;">
      <div class="router-container" style="height: 100%">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
    </div>
  </md-sidenav-container>
</div>
