a.mat-tab-link {
  line-height: 24px;
  height: 100%;
}

.drawer-size {
  width:     153px;
  min-width: 153px;
  max-width: 153px;
}

.drawer-size > * {
  min-width: 125px;
}

.router-animation-container {
  height: 100%;
}

.router-container {
  display: block;
  height: 100%;
}
