<div fxFill class="mat-app-background" fxLayout="column">
  <div class="nav-bar" fxLayout="row">
    <nav md-tab-nav-bar fxFlex>
      <div *ngIf="!isSideBySide">
        <button md-icon-button (click)="sidenav.toggle()" fxFlexOffset="10px"><md-icon>menu</md-icon></button>
      </div>
      <span fxLayoutAlign="space-around center" fxFlexOffset="30px">
        <a routerLink=""
           (click)="activeLinkIndex = 0">
          <img src="../assets/logo.png"
               alt="logo for virtual grade"
               height="13"
               width="93.5"
               fxLayoutAlign="center center" />
        </a>
      </span>
      <span fxFlex="30px"></span>
      <div fxLayoutAlign="center center" *ngIf="isSideBySide">
        <div *ngFor="let link of navLinks; let i = index">
          <a md-tab-link
             *ngIf="link.show"
             [routerLink]="link.route"
             [active]="activeLinkIndex === i"
             (click)="activeLinkIndex = i">
            <span fxFill fxLayoutAlign="center center">{{link.label}}</span>
          </a>
        </div>
      </div>
      <span fxFlex></span>
      <md-menu #appMenu="mdMenu" y-position="below" [overlapTrigger]="false">
        <button md-menu-item (click)="logOut()"> Log Out </button>
      </md-menu>

      <button md-button [mdMenuTriggerFor]="appMenu" *ngIf="utln$ | async as utln; else signin">
        {{utln}}
      </button>

      <ng-template #signin>
        <button md-button (click)="logIn()">Sign In</button>
      </ng-template>
    </nav>
  </div>
  <md-sidenav-container class="dark-theme" fxFlex>
    <md-sidenav class="site-sidenav md-whiteframe-z2 hide-print"
                #sidenav
                [mode]="isSideBySide ? 'side' : 'over'"
                [opened]="isSideBySide || isOpen">
      <nav-menu-container fxFlex>
        <nav-menu-header label="Courses" *ngIf="courses$ | async as courses">
          <nav-menu-toggle *ngFor="let course of courses | sortBy: ''"
                           label="{{course.name}}">
            <nav-menu-link *ngFor="let link of course.assigns | sort"
                           link="{{mode}}/{{course.name}}/{{link}}">
              {{link}}
            </nav-menu-link>
          </nav-menu-toggle>
        </nav-menu-header>
        <div *ngFor="let link of navLinks">
          <nav-menu-link [link]="link.route" *ngIf="!isSideBySide && link.show">{{link.label}}</nav-menu-link>
        </div>
        <div *ngIf="!courses$">
          <nav-menu-link [link]="">About</nav-menu-link>
          <nav-menu-link [link]="">Help</nav-menu-link>
        </div>
      </nav-menu-container>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>

