<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" class="md-padding side-dark mat-app-background">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxLayoutAlign="center center">
        <span class="mat-headline">Log In to Virtual Grade</span>
      </mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center center">
        <span class="mat-subheading-2">{{entityName}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form #f="ngForm" autocomplete="off" (ngSubmit)="login(f)" fxFlex fxLayout="column" novalidate fxLayoutGap="30px">
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>person</mat-icon>
            <mat-form-field floatPlaceholder="never" class="md-block" color="accent" fxFlexOffset="10px">
              <input matInput ngModel required name="username" type="text" placeholder="Username" spellcheck="false"
                     autocorrect="none" autocomplete="off" autocapitalize="none">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>vpn_key</mat-icon>
            <mat-form-field floatPlaceholder="never" class="md-block" color="accent" fxFlexOffset="10px">
              <input matInput ngModel required name="password" type="password" placeholder="Password">
              <mat-hint *ngIf="error" [ngStyle]="{color: 'red'}" align="start">Invalid username/password</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button mat-raised-button matDialogClose>CANCEL</button>
          <button mat-raised-button color="primary" type="submit" class="text-upper">LOGIN</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
