<div fxLayout="column" class="md-padding">
  <h3 class="mat-heading">Active Courses</h3>
  <div fxLayout="column" fxLayoutGap="25px">
    <div *ngFor="let course of courses | async">
      <card-button [color]="course.name" [left]="true">
        <div [routerLink]="course.name" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Name
            </div>
            <div class="mat-body-2">
              {{course.name}}
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Assignments
            </div>
            <div class="mat-body-2">
              {{course.assignments.length}}
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Enrollment
            </div>
            <div class="mat-body-2">
              97
            </div>
          </div>
        </div>
        <div fxLayoutAlign="center center">
          <button mat-button>GRADEBOOK</button>
        </div>
      </card-button>
    </div>
  </div>
  <span fxFlex="20px"></span>
  <h3 class="mat-heading">Inactive Courses</h3>
  <div fxLayout="column" fxLayoutGap="25px">
    <div *ngFor="let course of inCourses | async">
      <card-button [color]="course.name" [left]="true">
        <div [routerLink]="course.name" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Name
            </div>
            <div class="mat-body-2">
              {{course.name}}
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Assignments
            </div>
            <div class="mat-body-2">
              {{course.assignments.length}}
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div class="mat-caption">
              Enrollment
            </div>
            <div class="mat-body-2">
              97
            </div>
          </div>
        </div>
        <div fxLayoutAlign="center center">
          <button mat-button>GRADEBOOK</button>
        </div>
      </card-button>
    </div>
  </div>
</div>
